.sign {
  position: relative;
  top: 25px;
  width: 80vw;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  z-index: 200;
  visibility: hidden;
  transition: visibility 500ms ease-in-out;
}

.sign p {
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
}

.sign button {
  margin-bottom: 25px;
}

.sign p, .sign button {
  margin-left: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(63, 65, 80, 0.5);
  visibility: hidden;
  transition: visibility 500ms ease-in-out;
}

.overlay.is-active, .sign.is-active {
  visibility: visible;
  transition: visibility 500ms ease-in-out;
}

